.header {
	background-color: rgb(29, 35, 61);
	height: 100vh;
    width: 100vw;
    display: flex;
    font-family: 'Montserrat';
}

.Left {
  height: 100%;
  width: 40%;
  justify-content: center;
  align-items: center;
}

.h1 {
	font-size: 60px;
}

.logo {
    position: initial;
	width: 200px;
	height: 200px;
}

.btn1 {
	color: white;
	font-size: 20px;
	border-color: black;
	border-width: 1px;
	border-radius: 14px;
	background-color:rgb(50, 170, 239);
	height: 35px;
	width: 250px;
}

.btn2 {
	color: rgb(0, 145, 255);
	font-size: 20px;
	border-color: white;
	border-width: 1px;
	border-radius: 14px;
	background-color:rgb(29, 35, 61);
	height: 35px;
	width: 250px;
}